In [2]:
#!pip install pyECLAT

In [4]:
# store the item sets as lists of strings in a list
transactions = [
    ['beer', 'wine', 'cheese'],
    ['beer', 'potato chips'],
    ['eggs', 'flower', 'butter', 'cheese'],
    ['eggs', 'flower', 'butter', 'beer', 'potato chips'],
    ['wine', 'cheese'],
    ['potato chips'],
    ['eggs', 'flower', 'butter', 'wine', 'cheese'],
    ['eggs', 'flower', 'butter', 'beer', 'potato chips'],
    ['wine', 'beer'],
    ['beer', 'potato chips'],
    ['butter', 'eggs'],
    ['beer', 'potato chips'],
    ['flower', 'eggs'],
    ['beer', 'potato chips'],
    ['eggs', 'flower', 'butter', 'wine', 'cheese'],
    ['beer', 'wine', 'potato chips', 'cheese'],
    ['wine', 'cheese'],
    ['beer', 'potato chips'],
    ['wine', 'cheese'],
    ['beer', 'potato chips']
]

In [5]:
import pandas as pd

# you simply convert the transaction list into a dataframe
data = pd.DataFrame(transactions)
data

               0             1             2       3             4
0           beer          wine        cheese    None          None
1           beer  potato chips          None    None          None
2           eggs        flower        butter  cheese          None
3           eggs        flower        butter    beer  potato chips
4           wine        cheese          None    None          None
5   potato chips          None          None    None          None
6           eggs        flower        butter    wine        cheese
7           eggs        flower        butter    beer  potato chips
8           wine          beer          None    None          None
9           beer  potato chips          None    None          None
10        butter          eggs          None    None          None
11          beer  potato chips          None    None          None
12        flower          eggs          None    None          None
13          beer  potato chips          None    None          None
14          eggs        flower        butter    wine        cheese
15          beer          wine  potato chips  cheese          None
16          wine        cheese          None    None          None
17          beer  potato chips          None    None          None
18          wine        cheese          None    None          None
19          beer  potato chips          None    None          None

In [6]:
# looking for itemSETS, we do not want to have any individual products returned
# 我們對產品關聯感興趣，因此希望省略單個（1 項）項目集：最小大小需要為 2。
min_n_products = 2

# set min support to 7, but we have to express it as a percentage
min_support = 7/len(transactions)

# we have no limit on the size of association rules, so we set it to the longest transaction
# pyECLAT 包要指定最大尺寸。我們沒有項目集的最大大小（我們也對大型產品關聯感興趣）。因此，我們採用最大交易規模。
max_length = max([len(x) for x in transactions])

## ECLAT

In [7]:
#  first instantiate, and then you fit the algorithm.

from pyECLAT import ECLAT
my_eclat = ECLAT(data=data, verbose=True)
rule_indices, rule_supports = my_eclat.fit(min_support=min_support,
                                           min_combination=min_n_products,
                                           max_combination=max_length)

100%|██████████| 8/8 [00:00<00:00, 572.95it/s]
100%|██████████| 8/8 [00:00<?, ?it/s]
100%|██████████| 8/8 [00:00<00:00, 2005.88it/s]

Combination 2 by 2

10it [00:00, 361.71it/s]

Combination 3 by 3

10it [00:00, 417.25it/s]

Combination 4 by 4

5it [00:00, 385.65it/s]

Combination 5 by 5

1it [00:00, 334.15it/s]

In [8]:
print(rule_supports)
# 最終識別出兩個規則：Wine & Cheese 和 Beer & Potato Chips

{'beer & potato chips': 0.45, 'cheese & wine': 0.35}